@import "tailwindcss";

@property --border-angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}
@layer utilities {
  .animate-appear-bottom {
    animation: appear-bottom linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    timeline: 5000ms;
  }

  .animate-appear-top {
    animation: appear-top linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    timeline: 5000ms;
  }

  .animate-appear-left {
    animation: appear-left linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    timeline: 5000ms;
  }

  .animate-appear-right {
    animation: appear-right linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    timeline: 5000ms;
  }
}

@theme {
  --animate-rotate-border: border-rotate 3s linear infinite;

  @keyframes border-rotate {
    to {
      --border-angle: 360deg;
    }
  }
  @keyframes appear-bottom {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes appear-top {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes appear-left {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes appear-right {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
